:root {
  --turquoise: #00CED1;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: black;
  color: white;
  font-size: 1.6rem;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
}

/*NAVBAR*/
#navBar > div:nth-child(1) > .navbar-brand > img {
  width: 30px;
}
/*NAVBAR END*/

.titleSections {
  font-size: 2.5rem;
  text-transform: uppercase;
  margin: 10px 0 50px 0;
}

/*PRESENTATION SECTION*/
#presentation > div:nth-child(2) > article > div {
  background-color: var(--turquoise);
  text-align: center;
  padding: 5px 0;
  margin: 10px 0;
}

/*PRESENTATION SECTION END*/

/*FEATURED SECTION*/
#featured > div > article > div {
  height: 100%;
  background-color: var(--turquoise);
}

#featured > div > article > div .card-title {
  font-size: 2rem;
}

#featured > div > article > div .card-text {
  margin-bottom: 15px;
}

#featured > div > article > div > .cardImgContainer {
  height: 200px;
}

#featured > div > article > div > .cardImgContainer img {
  height: 100%;
  object-fit: cover;
}
/*FEATURED SECTION END*/
